/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  /* Colors */
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --tertiary-text-color: #ffffff;
  --secondary-text-color-transparency: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --cards-border-color: #eeeeee;
  --header-border-bottom: #ececec;
  --active-button: #188ce8;
  --icon-border: #afb1b8;
  --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* Effects */
  --hover-focus-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/raleway-v28-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff"), url("../fonts/raleway-v28-latin-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
body {
  font-family: "Roboto", "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  min-width: 200px;
  min-height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
  cursor: pointer;
  -webkit-transition: background-color var(--hover-focus-transition);
  transition: background-color var(--hover-focus-transition);
}

.button:hover,
.button:focus {
  background-color: var(--active-button);
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.cardset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.title--uppercase {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.img-no-gap {
  display: block;
}

.header {
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  border-bottom: 1px solid var(--header-border-bottom);
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    max-width: 768px;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu__icon {
  fill: currentColor;
}
.menu__icon:hover, .menu__icon:focus {
  fill: var(--accent-color);
}

.mobile-menu-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-background-color);
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: var(--hover-focus-transition);
  transition: var(--hover-focus-transition);
}
.mobile-menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}
@media screen and (min-width: 768px) {
  .mobile-menu-container {
    display: none;
  }
}

.mobile-menu-container.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .menu-socials {
    display: none;
  }
}

.menu-socials__item {
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-socials__item:last-child {
  border: none;
}

.menu-socials__link {
  font-size: 18px;
  font-weight: 500;
  color: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .main-menu__container {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .main-menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 92px;
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.logo--accent {
  color: var(--accent-color);
}

.logo--light-theme {
  display: block;
  margin-right: 0;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--tertiary-text-color);
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 96px;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 767px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--hover-focus-transition);
  transition: color var(--hover-focus-transition);
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: inherit;
    line-height: 1.1428571429;
  }
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav__link--current {
    position: relative;
    color: var(--accent-color);
  }
  .nav__link--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.contacts {
  padding-top: 21px;
  padding-bottom: 21px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item {
    margin-bottom: 32px;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .contacts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:nth-child(2n) {
    margin-bottom: 64px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
}

@media screen and (min-width: 768px) {
  .contacts__item:last-child {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .contacts__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
    width: 14px;
    height: 14px;
    fill: currentColor;
    margin-right: 8px;
    vertical-align: middle;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    -webkit-transition: color var(--hover-focus-transition);
    transition: color var(--hover-focus-transition);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-color);
  }
}

.hero-section {
  padding: 118px 45px;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
  background-color: var(--secondary-background-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding: 118px 189px;
  }
}

.hero-section__title {
  display: block;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
}

@media screen and (min-width: 1200px) {
  .features-section {
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 480px) {
  .features-cardset__card {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .features-cardset__card {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features-cardset__card {
    width: calc((100% - 90px) / 4);
  }
}

.features-cardset__card-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.features-cardset__card-thumb {
  background-color: var(--tertiary-background-color);
  padding: 25px;
  margin-bottom: 30px;
}

.features-cardset__card-text {
  margin-top: 10px;
  line-height: 1.7142857143;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}

.work-cardset__card {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.work-cardset__card-description {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 27px;
  height: 70px;
  width: 100%;
  text-align: center;
  color: var(--tertiary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team-section {
  background-color: var(--tertiary-background-color);
}

.team-cardset {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .team-cardset {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.team-cardset__card {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .team-cardset__card {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team-cardset__card {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-cardset__card {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.team-cardset__card-thumb {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-cardset__card-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.team-cardset__card-text {
  margin-bottom: 16px;
  line-height: 1.1875;
  text-align: center;
  color: var(--secondary-text-color);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-border);
  -webkit-transition: background-color var(--hover-focus-transition), fill var(--hover-focus-transition);
  transition: background-color var(--hover-focus-transition), fill var(--hover-focus-transition);
}
.socials__link:hover, .socials__link:focus {
  fill: var(--primary-background-color);
  background-color: var(--accent-color);
}

.socials__link--dark-theme {
  fill: var(--primary-background-color);
  background: rgba(255, 255, 255, 0.1);
}

.clients-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-list__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.clients-list__client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 32px;
  color: var(--icon-border);
  outline: 1px solid var(--icon-border);
  border-radius: 4px;
  -webkit-transition: color var(--hover-focus-transition), border-color var(--hover-focus-transition);
  transition: color var(--hover-focus-transition), border-color var(--hover-focus-transition);
}
.clients-list__client-link:hover, .clients-list__client-link:focus {
  color: var(--accent-color);
  outline-color: var(--accent-color);
}

.clients-list__client-logo {
  fill: currentColor;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 76px;
    padding-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.address-container {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .address-container {
    margin-right: 165px;
  }
}

.address-list__location {
  text-decoration: none;
  font-style: normal;
  line-height: 1.7142857143;
  color: var(--tertiary-text-color);
}

.address-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.address-list__link {
  font-style: normal;
  line-height: 1.7142857143;
  color: var(--secondary-text-color-transparency);
  -webkit-transition: color var(--hover-focus-transition);
  transition: color var(--hover-focus-transition);
}
.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.subscribe {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .subscribe {
    width: 450px;
  }
}

.subscribe__label {
  display: block;
  margin-bottom: 20px;
  color: var(--tertiary-text-color);
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  caret-color: var(--primary-background-color);
}
.subscribe__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.subscribe__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.subscribe__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.subscribe__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.subscribe__icon {
  margin-left: 10px;
}

.follow {
  text-align: center;
}
@media screen and (min-width: 480px) {
  .follow {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .follow {
    margin-top: 5px;
  }
}

.follow__title {
  margin-bottom: 20px;
  color: var(--primary-background-color);
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter-list__button {
  background-color: var(--tertiary-background-color);
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  border: none;
  border-radius: 4px;
  -webkit-transition: color var(--hover-focus-transition), background-color var(--hover-focus-transition), -webkit-box-shadow var(--hover-focus-transition);
  transition: color var(--hover-focus-transition), background-color var(--hover-focus-transition), -webkit-box-shadow var(--hover-focus-transition);
  transition: color var(--hover-focus-transition), background-color var(--hover-focus-transition), box-shadow var(--hover-focus-transition);
  transition: color var(--hover-focus-transition), background-color var(--hover-focus-transition), box-shadow var(--hover-focus-transition), -webkit-box-shadow var(--hover-focus-transition);
}
.filter-list__button:first-child {
  padding: 6px 25px;
}
.filter-list__button:hover, .filter-list__button:focus {
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.filter-list__item:first-child {
  margin-bottom: 15px;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: -webkit-box-shadow var(--hover-focus-transition);
  transition: -webkit-box-shadow var(--hover-focus-transition);
  transition: box-shadow var(--hover-focus-transition);
  transition: box-shadow var(--hover-focus-transition), -webkit-box-shadow var(--hover-focus-transition);
}
.portfolio-card:hover, .portfolio-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio-card {
    width: calc((100% - 30px) / 2);
  }
}

.portfolio-card__link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-card__description {
  padding: 20px 24px;
  border: 1px solid var(--cards-border-color);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio-card__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0.9;
  padding: 24px;
  color: var(--tertiary-text-color);
  font-size: 18px;
  line-height: 1.5555555556;
  -webkit-transition: -webkit-transform var(--hover-focus-transition);
  transition: -webkit-transform var(--hover-focus-transition);
  transition: transform var(--hover-focus-transition);
  transition: transform var(--hover-focus-transition), -webkit-transform var(--hover-focus-transition);
}
.portfolio-card:hover .overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card__text {
  margin-top: 4px;
  line-height: 1.875;
  color: var(--secondary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--hover-focus-transition), visibility var(--hover-focus-transition);
  transition: opacity var(--hover-focus-transition), visibility var(--hover-focus-transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: calc(100% - 30px);
  padding: 40px;
  background-color: var(--primary-background-color);
  -webkit-transition: -webkit-transform var(--hover-focus-transition);
  transition: -webkit-transform var(--hover-focus-transition);
  transition: transform var(--hover-focus-transition);
  transition: transform var(--hover-focus-transition), -webkit-transform var(--hover-focus-transition);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

.close-modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.close-modal-button:hover, .close-modal-button:focus {
  fill: var(--accent-color);
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-area__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.input-area__label:not(:last-child) {
  margin-bottom: 4px;
}

.input-field {
  position: relative;
  margin-bottom: 10px;
}

.input-field__input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: outline var(--hover-focus-transition);
  transition: outline var(--hover-focus-transition);
}
.input-field__input:focus {
  outline: 1px solid var(--accent-color);
}

.input-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--hover-focus-transition);
  transition: fill var(--hover-focus-transition);
}
.input-field__input:focus + .input-field__icon {
  fill: var(--accent-color);
}

.input-area__textarea {
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.input-area__textarea:focus {
  outline: 1px solid var(--accent-color);
}

.confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.confirm__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
  line-height: 1.1666666667;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__icon {
  margin-right: 8px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: opacity var(--hover-focus-transition);
  transition: opacity var(--hover-focus-transition);
}

.checkbox__icon--checked {
  opacity: 0;
}

.checkbox__icon--unchecked {
  opacity: 1;
}

.checkbox:checked + .checkbox__icon .checkbox__icon--checked {
  opacity: 1;
}

.checkbox:checked + .checkbox__icon .checkbox__icon--unchecked {
  opacity: 0;
}

.checkbox:focus + .checkbox__icon {
  outline: 2px solid var(--accent-color);
  outline-offset: 1px;
}

.confirm__link {
  text-decoration: underline;
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */