@import 'utils/normalize';
@import 'utils/vars';
@import 'utils/fonts';
@import 'utils/global';
@import 'utils/reset';

@import 'components/header';
@import 'components/mobile-menu';
@import 'components/main-menu';
@import 'components/logo';
@import 'components/navigation';
@import 'components/contacts';
@import 'components/hero';
@import 'components/features';
@import 'components/work';
@import 'components/team';
@import 'components/socials';
@import 'components/clients';
@import 'components/footer';
@import 'components/address';
@import 'components/subscribe';
@import 'components/follow';
@import 'components/filter-list';
@import 'components/portfolio';
@import 'components/backdrop';
@import 'components/modal';
@import 'components/form';