.address-container {
    text-align: center;
    margin-bottom: 60px;

    @media screen and(min-width:768px) {
        margin-right: 165px;
    }
}

.address-list__location {
    text-decoration: none;
    font-style: normal;
    line-height: calc(24 / 14);
    color: var(--tertiary-text-color);
}

.address-list__item:not(:last-child) {
    margin-bottom: 8px;
}

.address-list__link {
    font-style: normal;
    line-height: calc(24 / 14);
    color: var(--secondary-text-color-transparency);
    transition: color var(--hover-focus-transition);

    &:hover,
    &:focus {
        color: var(--accent-color);}
    }