.clients-container {
}

.clients-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.clients-list__item {
    width: calc((100% - 60px) / 2);

    //desktop
    // flex-basis: calc((100% - 150px) / 6);
}

.clients-list__client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    color: var(--icon-border);
    outline: 1px solid var(--icon-border);
    border-radius: 4px;
    transition: color var(--hover-focus-transition), border-color var(--hover-focus-transition);

    &:hover,
    &:focus {
        color: var(--accent-color);
        outline-color: var(--accent-color);
    }
}



.clients-list__client-logo {
    fill: currentColor;
}