.contacts {
	padding-top: 21px;
	padding-bottom: 21px;

	@media screen and(min-width:768px) {
		display: flex;
		flex-direction: column-reverse;
	}

	@media screen and(min-width:1200px) {
		display: flex;
		flex-direction: row;
		align-items: center;
	}	
}

.contacts__item {

	@media screen and(max-width: 767px) {
	margin-bottom: 32px;
	font-size: 34px;
	font-weight: 500;
	line-height: calc(40 / 34);
	letter-spacing: 0.02em;

	color: var(--accent-color);
	}

	@media screen and(min-width: 768px) {
		display: flex;
	}
}

.contacts__item:nth-child(2n) {

	@media screen and(max-width: 767px) {
	margin-bottom: 64px;
	font-size: 24px;
	font-weight: 500;
	line-height: calc(28 / 24);
	letter-spacing: 0.02em;

    color: var(--secondary-text-color);
	}

}

.contacts__item:last-child {
	@media screen and(min-width:768px) and (max-width:1199px) {
		margin-bottom: 10px;
	}
}


.contacts__item:not(:last-child) {
		@media screen and(min-width:1200px) {
			margin-right: 30px;
	}
}

.contacts__icon {

	@media screen and (max-width: 768px){
		display: none;
	}

	@media screen and(min-width:768px) {
		display: block;
		width: 14px;
		height: 14px;
		fill: currentColor;
	    margin-right: 8px;
	    vertical-align: middle;
	}

	//desktop
	//     fill: currentColor;
	//     margin-right: 10px;
	//     vertical-align: middle;
}

.contacts__link {
	@media screen and(min-width: 768px) {
		display: flex;
		align-items: center;
		font-size: 12px;
		line-height: calc(14 / 12);
		letter-spacing: 0.02em;
	    color: var(--secondary-text-color);
	    transition: color var(--hover-focus-transition);

	    &:hover,
	    &:focus {
	        color: var(--accent-color);
	}
		}





	//desktop
	//     padding-top: 32px;
	//     padding-bottom: 32px;
	//     line-height: calc(16 / 14);
	//     letter-spacing: 0.02em;
	//     color: var(--secondary-text-color);
	//     transition: color var(--hover-focus-transition);

	//     &:hover,
	//     &:focus {
	//     color: var(--accent-color)
}