.features-section {
    @media screen and(min-width: 1200px) {
        padding-bottom: 0px;
}
    }

.features-cardset {
}

.features-cardset__card {
    @media screen and(min-width: 480px) {
            width: 100%;
    }

    @media screen and (min-width:768px) {
        flex-basis: calc((100% - 30px) / 2);
    }

        @media screen and(min-width: 1200px) {
            width: calc((100% - 90px) / 4);
}
}

.features-cardset__card-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.features-cardset__card-thumb {
    background-color: var(--tertiary-background-color);
    padding: 25px;
    margin-bottom: 30px;
}

.features-cardset__card-text {
    margin-top: 10px;
    line-height: calc(24 / 14);
    color: var(--secondary-text-color);
}