.follow {
text-align: center;

@media screen and(min-width: 480px) {
    margin-bottom: 60px;
}

@media screen and(min-width: 768px) {
    margin-top: 5px;
}

}

    //desktop
    // margin-left: 70px;

.follow__title {
    margin-bottom: 20px;
    color: var(--primary-background-color);
}
