.footer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background-color);
}

.footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and(min-width:768px) {
        flex-direction: row;
        padding-left: 76px;
        padding-right: 89px;
    }

     @media screen and(min-width:1200px) {
         align-items: baseline;
    }   
}
