.footer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background-color);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and(min-width:768px) {
        flex-direction: row;
    }

     @media screen and(min-width:1200px) {
         align-items: baseline;
    }   
}

.address-follow-container {
    @media screen and(min-width:768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}