.header {
	margin-right: auto;
	margin-left: auto;
	font-weight: 500;
	border-bottom: 1px solid var(--header-border-bottom);
}

.header__container {
	//global

	position: relative;
	display: flex;
	align-items: center;

	@media screen and(min-width: 480px) {
        justify-content: space-between;
	}

	@media screen and(min-width: 768px) {
		max-width: 768px;
	}

}
