.header {
    margin-right: auto;
    margin-left: auto;
    font-weight: 500;
    border-bottom: 1px solid var(--header-border-bottom);
}

.header__container {
    min-width: 320px;
    max-width: 480px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;


    //desktop
    // display: flex;
    // align-items: center;
}

