.nav__list {

//desktop
    // display: flex;
}

.nav__item:not(:last-child) {
    margin-bottom: 32px;
    //desktop
    // margin-right: 50px;
}

// .nav__item:last-child {
//     margin-bottom: 302px;
// }

.nav__link {
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;


    //desktop
//     padding-top: 32px;
//     padding-bottom: 32px;
//     line-height: calc(16 / 14);
//     letter-spacing: 0.02em;
//     color: var(--primary-text-color);
//     transition: color var(--hover-focus-transition);

    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.nav__link--current {

    //desktop
//     position: relative;
//     color: var(--accent-color);

//     &::after {
//         content: '';
//         position: absolute;
//         bottom: 0;
//         display: block;
//         width: 100%;
//         height: 4px;
//         background-color: var(--accent-color);
//         border-radius: 2px;
//     }
}