.team-section {
    background-color: var(--tertiary-background-color);
}

.team-cardset {
    flex-direction: column;

    @media screen and(min-width: 768px) {
        flex-direction: row;
    }
}

.team-cardset__card {
    flex-basis: calc((100% - 90px) / 4);
    background-color: var(--primary-background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

        @media screen and(max-width:767px) {
            width: 100%;
        }

        @media screen and(min-width:768px) {
            flex-basis: calc((100% - 30px) / 2);
        }

        @media screen and(min-width:1200px) {
            flex-basis: calc((100% - 90px) / 4);
        }
    }

.team-cardset__card-thumb {
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and(min-width:1200px) {
        padding: 30px 32px;
    }
}

.team-cardset__card-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
}

.team-cardset__card-text {
    margin-bottom: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    color: var(--secondary-text-color);
}