body {
  font-family: 'Roboto', 'Arial', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.container {

  //global//

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  //mobile//

  @media screen and(min-width: 480px) {
      max-width: 480px;
  }

  //tablet//

  @media screen and(min-width: 768px) {
    max-width: 768px;
  }

  //desktop//

  @media screen and(min-width: 1200px) {
    max-width: 1200px;
  }

}

.section {

  //global//

  margin-left: auto;
  margin-right: auto;

  padding-top: 60px;
  padding-bottom: 60px;
  

  // desktop//

  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    min-width: 200px;
    min-height: 50px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--tertiary-text-color);

    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    box-shadow: var(--button-shadow);
    cursor: pointer;

    transition: background-color var(--hover-focus-transition);
}

.button:hover,
.button:focus {
    background-color: var(--active-button);
}

.section-title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    text-align: center;

  //desktop//
  @media screen and(min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: calc(42 / 36);
  }

}

.cardset {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.title--uppercase {
  font-size: inherit;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
