ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

h1,
h2,
h3,
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.img-no-gap {
    display: block;
    width: 100%;
    height: auto;
}